<br>
<br>
<br>


<div class="list-group">


    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"></h5>
      <small></small>
    </div>
    <p class="mb-1"></p>
    <small>.</small>


    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"></h5>
      <small class="text-muted"></small>
    </div>
    <p class="mb-1" style="color: black;">gddgsgfgs</p>
    <small class="text-muted">.</small>


    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"></h5>
      <small class="text-muted"></small>
    </div>
    <p class="mb-1"></p>
    <small class="text-muted"></small>

</div>
<app-quote-form (addQuote)="addNewQuote($event)" ></app-quote-form>



