









<br>
<div *ngFor='let quote of quotes; let i=index' class="list-group">
  <i class="glyphicon glyphicon-chevron-up" style="color: black;" >up</i>
  <button class="btn btn-success" (click)="upvote(i)">Up</button>
  <span class="label label-primary"style="color: black;">{{quote.upvoted}}</span>
  <i class="glyphicon glyphicon-chevron-down"style="color: black;">down</i>
  <br>
  <br>
    <div class="d-flex w-100 justify-content-between" >
      <h5 style="color: black;" class="mb-1" >{{quote.submittedBy}}</h5>
      <small style="color: black;">{{quote.author}}</small>
    </div>
    <p class="mb-1" style="color: black;">{{quote.quote}}</p>

    <small style="color: black;">{{quote.datePosted |dateAgo}}</small>

    <button (click)="deleteQuote(i)" class="btn btn-outline-danger">Delete Quote</button>
</div>
<br>
<br>
<br>
<br>
<app-quote-form (addQuote)="addNewQuote($event)" ></app-quote-form>



