<form (ngSubmit) = 'submitQuote()' #quoteForm='ngForm' class="form-inline">
  <label class="sr-only" for="inlineFormInputName2">Name:</label>
  <input type="text" class="form-control mb-2 mr-sm-2" [(ngModel)]="newQuote.submitedBy" name="submittedBy" placeholder="Name" #submitedBy='ngModel'>

  <label class="sr-only" >Author</label>
  <div class="input-group mb-2 mr-sm-2">

    <input type="text" class="form-control" [(ngModel)]="newQuote.author" name="author" placeholder="Author"  #author='ngModel'>
  </div>



  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">

    </div>
    <label class="sr-only" >Quote of the day</label>
    <textarea class="form-control" [(ngModel)]="newQuote.quote"  name="quote" placeholder="Quote of the day" rows="4">

    </textarea>
  </div>
  <div class="input-group mb-2 mr-sm-2">

    <input type="date" class="form-control" [(ngModel)]="newQuote.datePosted" name="datePosted"   #datePosted='ngModel'>
  </div>




  <button type="submit" class="btn btn-success mb-2">Submit Quote</button>
</form>
